.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0.5rem;
    width: 100%;
    min-width: 380px;
}

.header__logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logoContainer img {
    width: 4em;
}



.header__controlsContainer {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.header__themeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}